/* Base
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
	font-family: "proxima-nova", sans-serif;
}

img {
	max-width: 100%;
}
.wrapper {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
}

a {
    color: #4491FF;
}

/* Sections
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
	padding-top: 7.5rem;
	padding-bottom: 7.5rem;
	margin-bottom: 0;
	max-width: 80.0rem;
}

/* Footer
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer .container {
	padding-bottom: 0;
	padding-top: 0;
}

.footer p{
    font-size: 1.3rem;
}


/* Navbar
// –––––––––––––––––––––––––––––––––––––––––––––––––– */

.navigation {
	left: 0;
	max-width: 100%;
	position: fixed;
	right: 0;
	top: 0;
	max-width: 100vw;
	z-index: 99;
}
/* Re-overiding the width 100% declaration to match size of% based container */
.navigation .container {
	padding-top: 0;
	padding-bottom: 0;
}
.navigation {
	background: #ECEFF1;
	border-bottom: .1rem solid #d1d1d1;
	display: block;
	height: 5.2rem;
	width: 100%;
}

.navigation .img {
	position: relative;
	top: .3rem;
	height: 2.0rem;
}

.navigation .title,
.navigation-title {
	color: #606c76;
	display: inline;
	line-height: 5.2rem;
	font-size: 2rem;
	padding: 0;
    letter-spacing: 0;
	position: relative;
	text-decoration: none;
}

.panel{
    color: white;
    padding: 20px;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: .5rem;
    margin-bottom: 20px;
}

.panel.operational, .label.operational {
    background-color: #2CC990;
}

.panel.degraded.performance, .label.degraded.performance {
    background-color: #f1a31a;
}

.panel.investigating, .label.investigating {
    background-color: #4491FF;
}

.panel.major.outage, .label.major.outage {
    background-color: #DC4E41;
}

.label.system {
    background-color: #364355;
}

ul.systems{
    border: .1rem solid #e1e1e1;
    border-radius: .5rem;
}

ul.systems > li{
    list-style: none;
    border-bottom: .1rem solid #e1e1e1;
    padding: 15px;
    margin-bottom: 0;
}

ul.systems > li:last-child{
    border: none;
}

.systems .status {
    float: right;
}

.status.operational,
.status.degraded.performance,
.status.investigating,
.status.major.outage {
    text-transform: capitalize;
}

.status.operational {
    color: #2CC990;
}

.status.degraded.performance {
    color: #f1a31a;
}

.status.investigating {
     color: #4491FF;
}

.status.major.outage {
    color: #DC4E41;
}

hr{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-top: .3rem solid #ECEFF1;
}

h4 {
    padding-top: 3rem;
}

.incident .title{
    font-size: 2rem;
    font-weight: 600;
}

#main {
    padding-top: 8.5rem;
}

.label {
    border-radius: .4rem;
    color: white;
    padding: 0.4rem 0.6rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: .5rem;
}

.incident {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.incident .date {
    font-size: 2rem;
    font-weight: 600;
}